# Type checkers and other linters that we test our stubs against. These should always
# be pinned to a specific version to make failure reproducible.
mypy==1.5.1
pytype==2023.8.14; platform_system != "Windows" and python_version < "3.11"
black==23.7.0                                     # must match .pre-commit-config.yaml
ruff==0.0.287                                     # must match .pre-commit-config.yaml

# Libraries used by our various scripts.
stubdefaulter==0.1.0
tomli==2.0.1; python_version < "3.11"
typing_extensions
