# Tools
# -----
ruff>=0.8.0
pytest>=8.0
rich-argparse>=1.5.2
mypy>=1.13.0
pyright>=1.1.389

# Runtime dependencies
# --------------------
geopandas>=1.0.0

# Transient dependencies
# ----------------------
# geopandas
types-shapely>=2.0.0.20241112
pandas-stubs>=2.2.3.241009
matplotlib>=3.8.0
folium>=0.16.0
rtree>=1.2.0
# netfields and psqlextra
django-types>=0.19.1
djangorestframework-types>=0.8.0
types-psycopg2>=2.9.21
types-netaddr>=1.2.0
types-python-dateutil>=2.9.0
# pandapower
networkx>=3.2.1
