# Type checkers and other linters that we test our stubs against. These should always
# be pinned to a specific version to make failure reproducible.
mypy==1.6.1
pytype==2023.8.14; platform_system != "Windows" and python_version < "3.11"
ruff==0.1.3                                       # must match .pre-commit-config.yaml

# Libraries used by our various scripts.
stubdefaulter
tomli; python_version < "3.11"
typing_extensions
