# Tools
ruff==0.2.1  # must match .pre-commit-config.yaml
pytest>=8.0
mypy==1.8.0
pyright==1.1.350

# Runtime
shapely>=2.0,<2.1

# Transient dependencies
matplotlib>=3.8.0
pyproj>=3.6.1
folium>=0.15.1
rtree>=1.1.0
pandas-stubs>=2.1.4.231227
