name: tests

on:
  pull_request:
    paths-ignore:
      - ".vscode/**"
      - ".pre-commit-config.yaml"
      - "*.md"
  push:
    branches: [main]
    paths-ignore:
      - ".vscode/**"
      - ".pre-commit-config.yaml"
      - "*.md"
  workflow_dispatch:

permissions:
  contents: read

env:
  UV_PYTHON: "3.12"
  FORCE_COLOR: 1

jobs:
  ruff:
    name: Run ruff check and ruff format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ env.UV_PYTHON }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.UV_PYTHON }}
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Install dependencies
        run: uv sync --frozen
      - name: Lint with ruff
        run: uv run python run.py ruff-check
      - name: Format with ruff
        run: uv run python run.py ruff-format
  pytest:
    name: Run the test suite
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ env.UV_PYTHON }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.UV_PYTHON }}
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Install dependencies
        run: uv sync --frozen
      - run: uv run python run.py pytest
  mypy:
    name: Run mypy on the tests and on the stubs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ env.UV_PYTHON }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.UV_PYTHON }}
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Install dependencies
        run: uv sync --frozen
      - run: uv run python run.py mypy
  stubtest:
    name: Run stubtest on the the stubs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ env.UV_PYTHON }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.UV_PYTHON }}
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Install dependencies
        run: uv sync --frozen
      - run: uv run python run.py stubtest
  pyright:
    name: Run pyright on the tests and on the stubs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ env.UV_PYTHON }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.UV_PYTHON }}
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Install dependencies
        run: uv sync --frozen
      - run: uv run python run.py pyright
